# dependencies
node_modules/
**/node_modules/

# build output
.next/
**/.next/
dist/
**/dist/
coverage/
**/coverage/
build/
**/build/
out/
**/out/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env.local
.env.*.local

# misc
.DS_Store
*.tsbuildinfo
.husky/_/
